In [1]:
import sqlite3 # database
import spacy # NLP for processing user input and comparing against database

In [2]:
db = sqlite3.connect('bookbox_jupyter_db')

In [3]:
cursor = db.cursor()

In [4]:
# create database
cursor.execute('''
    CREATE TABLE books(id INTEGER PRIMARY KEY, title CHAR(30), author CHAR(30),
                   qty INTEGER(5))
''')
db.commit()

OperationalError: table books already exists

In [4]:
id1 = 3001
title1 = 'A Tale of Two Cities'
author1 = 'Charles Dickens'
qty1 = 30

# Insert book 1
cursor.execute('''INSERT INTO books(id, title, author, qty)
                  VALUES(?,?,?,?)''', (id1, title1, author1, qty1))
print('First book inserted')

First book inserted

In [5]:
# check database
cursor.execute('''SELECT * FROM books''')
books = cursor.fetchall()

In [6]:
print(books)

[(3001, 'A Tale of Two Cities', 'Charles Dickens', 30)]

In [7]:
id2 = 3002
title2 = "Harry Potter and the Philospher's Stone"
author2 = 'J.K. Rowling'
qty2 = 40

# Insert book 2
cursor.execute('''INSERT INTO books(id, title, author, qty)
                  VALUES(?,?,?,?)''', (id2, title2, author2, qty2))
print('Second book inserted')

Second book inserted

In [8]:
id3 = 3003
title3 = "The Lion, the Witch and the Wardrobe"
author3 = 'C.S. Lewis'
qty3 = 25

# Insert book 2
cursor.execute('''INSERT INTO books(id, title, author, qty)
                  VALUES(?,?,?,?)''', (id3, title3, author3, qty3))
print('Third book inserted')

Third book inserted

In [9]:
id4 = 3004
title4 = "The Lord of the Rings"
author4 = 'J.J.R Tolkein'
qty4 = 37

# Insert book 2
cursor.execute('''INSERT INTO books(id, title, author, qty)
                  VALUES(?,?,?,?)''', (id4, title4, author4, qty4))
print('Fourth book inserted')

Fourth book inserted

In [10]:
id5 = 3005
title5 = "Alice in Wonderland"
author5 = 'Lewis Carrol'
qty5 = 12

# Insert book 2
cursor.execute('''INSERT INTO books(id, title, author, qty)
                  VALUES(?,?,?,?)''', (id5, title5, author5, qty5))
print('Fifth book inserted')

Fifth book inserted

In [11]:
# select all records
cursor.execute(
    '''SELECT * FROM books''')
books = cursor.fetchall()
print(books)

[(3001, 'A Tale of Two Cities', 'Charles Dickens', 30), (3002, "Harry Potter and the Philospher's Stone", 'J.K. Rowling', 40), (3003, 'The Lion, the Witch and the Wardrobe', 'C.S. Lewis', 25), (3004, 'The Lord of the Rings', 'J.J.R Tolkein', 37), (3005, 'Alice in Wonderland', 'Lewis Carrol', 12)]

In [12]:
# get the max id so it can be incremented by one for each new book
# the query returns a tuple (3001,) so select the first element which is the id number (int)
max_id = cursor.execute('''SELECT MAX(id) FROM books''').fetchone()[0]
print(max_id)

3005

In [13]:
# create INSERT INTO functionality
# increment id field (primary key) by one

# function takes the current max id as input
def add_book(max_id):
    max_id += 1

    title = input("\nEnter the title of the book you wish to enter into the database: \n")
    author = input("\nEnter the name of the author: \n")

    try:
        qty = int(input("\nEnter the number of copies of the book we have in stock: \n"))
    except ValueError:
        print("\nENTRY FAILED\n\nRemember that the number of copies has to be an integer!\n\n")
        
        return

    # Insert book into database
    cursor.execute('''INSERT INTO books(id, title, author, qty)
                      VALUES(?,?,?,?)''', (max_id, title, author, qty))

    print('\nNew book inserted')

add_book(max_id)

Enter the title of the book you wish to enter into the database:
Programming for Dummies

Enter the name of the author:
Guido van Rossum

Enter the number of copies of the book we have in stock:
69

New book inserted

In [14]:
# function to update a book
# search book to update by id, title or author
# can only update qty tho

selection = ''
while selection != '0':
    # choose how to search for a book
    selection = input(
        """How would you like to select a book to update?\n
        1 - select by id
        2 - select by title
        3 - select by author
        0 - exit\n""")
    
    if selection == '1':
        
        # get the min and max id's to let user know bounds of search
        # get the max id so it can be incremented by one for each new book
        max_id = cursor.execute('''SELECT MAX(id) FROM books''').fetchone()[0]
        min_id = cursor.execute('''SELECT MIN(id) FROM books''').fetchone()[0]
        print(f"You have to choose an id number between {min_id} and {max_id}")
        
        book_id = input("\nEnter the id of the book you wish to edit: \n")
        
        while book_id < min_id or book_id > max_id:
            print("\nINPUT NOT WITHIN BOUNDS\n")
            book_id = input("\nEnter the id of the book you wish to edit: \n")
            
    elif selection == '2':
        pass
    elif selection == '3':
        pass
    elif selection == '0':
        break
    else:
        print("\n\nSelection not recognised\n")


# cursor.execute('''UPDATE student SET grade = ? WHERE id = ? ''', (grade, id))
# print('Student data updated!')

How would you like to select a book to update?

        1 - select by id
        2 - select by title
        3 - select by author
        0 - exit
0

In [ ]:
# create search function
# def search():
selection = ''

while selection != '0':
    # choose how to search for a book
    selection = input(
        """Choose your search parameter: \n
        1 - select by id
        2 - select by title
        3 - select by author
        4 - show all books
        0 - exit\n""")

    if selection == '1':

        # get the min and max id's to let user know bounds of search
        # get the max id so it can be incremented by one for each new book
        max_id = cursor.execute('''SELECT MAX(id) FROM books''').fetchone()[0]
        min_id = cursor.execute('''SELECT MIN(id) FROM books''').fetchone()[0]
        print(f"\nYou have to choose an id number between {min_id} and {max_id}")

        # get selection of id from the user
        book_id = input("\nEnter the id of the book you wish to edit: \n")

        # check input within acceptable parameters
        while int(book_id) < min_id or int(book_id) > max_id:
            print("\nINPUT NOT WITHIN BOUNDS\n")
            print(f"\nYou have to choose an id number between {min_id} and {max_id}\n")
            book_id = input("\nEnter the id of the book you wish to edit: \n")

            if book_id == '0':
                break

        # get the book record with the chosen id
        result = cursor.execute(
            f"""
            SELECT * FROM books WHERE id = ?""", (book_id,)).fetchone()

        # print the result of the query
        parse_record(result)

#         return result


    elif selection == '2':
        book_title = input("\nEnter the title of the book: \n")
        # use NLP to check similarity between a book title given by user and book titles in the database

#             # initiate the language model as nlp
#             nlp = spacy.load('en_core_web_sm')

        # compare the user given book_title to all the titles in the database
        all_titles_tuples = cursor.execute(
            """
            SELECT title FROM books""").fetchall() # list of tuples - [(name,), (next_name,),...]


        # call the predict function
        suggested = predict(all_titles_tuples, book_title)

        # make query and store the result
        result = cursor.execute(
            f"""
            SELECT * FROM books WHERE title = ?""", (suggested,)).fetchone()

        parse_record(result)

#         return result



    elif selection == '3':
        pass
    elif selection == '0':
        print("\nExiting search\n")
    else:
        print("\n\nSelection not recognised\n")

Choose your search parameter:

        1 - select by id
        2 - select by title
        3 - select by author
        4 - show all books
        0 - exit
1

You have to choose an id number between 3001 and 3006

Enter the id of the book you wish to edit:
2

INPUT NOT WITHIN BOUNDS


You have to choose an id number between 3001 and 3006


Enter the id of the book you wish to edit:
3001

    ID:		3001
    TITLE:	A Tale of Two Cities
    AUTHOR:	Charles Dickens
    QUNTITY:	30
Choose your search parameter:

        1 - select by id
        2 - select by title
        3 - select by author
        4 - show all books
        0 - exit
2

Enter the title of the book:
alice in wonderlnan

<ipython-input-38-1af8e539380e>:19: UserWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  similarity = nlp(term).similarity(model_search_term)

Alice in Wonderland

    ID:		3005
    TITLE:	Alice in Wonderland
    AUTHOR:	Lewis Carrol
    QUNTITY:	12

In [34]:
# helper function to format database queries that return entire records in this format - (id, title, author, quantity)
def parse_record(tuple_record):
    
    print(f"""
    ID:\t\t{str(tuple_record[0])}
    TITLE:\t{tuple_record[1]}
    AUTHOR:\t{tuple_record[2]}
    QUNTITY:\t{str(tuple_record[3])}""")

In [38]:
# helper function to use NLP to predict intended search result
# EXAMPLE query = cursor.execute("""SELECT title FROM books""").fetchall()
def predict(query_result, search_term):
    
    # initiate the language model as nlp
            nlp = spacy.load('en_core_web_sm')

            # create a list of titles
            query_list = [i[0] for i in query_result]

            # create a dictionary to store titles and scores as key / value pairs
            score = {}

            # prepare user book_title to compare to returned titles
            model_search_term = nlp(search_term)

            # loop through all titles and return the most similar
            for term in query_list:
                similarity = nlp(term).similarity(model_search_term)
                # print(title + " ", similarity)

                # add the title and its similarity score to dictionary
                score[term] = similarity

            # return the title with the highest similarity score to pass to the SQL query
            suggested = max(score, key=score.get)
            print(suggested)
            
            return suggested